<%- include('./_partial/header') %>
<% var target_url = '/projects/' %>
<% var link = ['1.html','2.html'] %>
<% var assets_url = '/' %>
<% var pageid = 1; %>

  <main class="clearfix">

    <article class="thumb-big">
      <div class=""><a href="<%= target_url+pages[pageid].path %>">
        <img src="/assets/img/nefry/thumb-big.png" alt="" />
        <p class="thumb-big-text">
          <%= pages[pageid].title %>
        </p></a>
      </div>
      <div>
        <% pages[pageid].tags.forEach(function (value, key) { %>
          <a class="tag-white" href="#"><%= value %></a>
        <% }); %>
      </div>
    </article>

    <% pageid = 2; %>

    <div class="thumb-small-wrap">

      <article class="thumb-small">
          <a href="<%= target_url+pages[pageid].path %>"><img src="/assets/img/gr-sakura/thumb-small.png" alt="" /></a>
           <a href="#"><p class="thumb-small-text">
             <%= pages[pageid].title %>
          </p></a>
        <div>
          <% pages[pageid].tags.forEach(function (value, key) { %>
            <a class="tag-white" href="#"><%= value %></a>
          <% }); %>
        </div>
      </article>

      <% for (var i = 0; i < 5; i++) { %>
        <%- include('./_partial/article_comming') %>
      <% } %>

    </div>
  </main>

<%- include('./_partial/footer') %>
