<%- include('../_partial/head') %>
<% var target_url = '/projects/' %>
<% var link = ['1.html','2.html'] %>
<% var assets_url = '//dotstud.io/assets' %>

  <link rel="stylesheet" href="<%= assets_url %>/css/content.css">
  
  <main class=".clearfix">
    <article>
      <div class="thumb-big">
        <p class="thumb-big-text">
          自作したオリジナルIoTデバイス「Nefry」とインターネットを繋いでみた
        </p>
        <img src="<%= assets_url %>/img/nefry/thumb-big.png" alt="" />
        <div class="author"><a href="http://liginc.co.jp/author/wamisnet" target="_blank">
          <img class="author-prof" src="<%= assets_url %>/img/author-wami.png" alt="" />
          <p class="author-name">わみ</p></a>
        </div></a>
        <div>
          <a class="tag-white" href="#">自作</a>
          <a class="tag-white" href="#">Nefry</a>
        </div>
      </div>

      <div class="info">
        <img class="lig-article" src="<%= assets_url %>/img/nefry/thumb-lig.png" alt="" />
        <p class="lig-article-text">
          「Nefry（ねふりー）」とは、Milkcocoaやmythings、IFTTTなどのインターネットのサービスとハードウエアを簡単に接続できるモジュールです。インターネットに接続しやすいので、接続に時間をとられることなく上記のようなサービスを利用してアイデアづくりに集中することができます。
        </p>
      </div>
      <a class="link-lig" target="_blank" href="http://liginc.co.jp/236620">作り方を読む</a>

      <!-- <div class="project-parts-wrap">
        <p id="project-parts-list">
          このプロジェクトに必要な部品
        </p>
        <div class="project-part">
          <a href="#"><img class="project-part-img" src="<%= assets_url %>/img/nefry/thumb-part.png" alt="" />
            <p class="project-part-txt">Nefry</p>
            <p class="project-part-price">¥3,980</p></a>
        </div>
        <div class="project-part">
          <a href="#"><img class="project-part-img" src="<%= assets_url %>/img/nefry/thumb-part.png" alt="" />
            <p class="project-part-txt">Nefry</p>
            <p class="project-part-price">¥3,980</p></a>
        </div>
        <div class="project-part">
          <a href="#"><img class="project-part-img" src="<%= assets_url %>/img/nefry/thumb-part.png" alt="" />
            <p class="project-part-txt">Nefry</p>
            <p class="project-part-price">¥3,980</p></a>
        </div>
        <div class="project-part">
          <a href="#"><img class="project-part-img" src="<%= assets_url %>/img/nefry/thumb-part.png" alt="" />
            <p class="project-part-txt">Nefry</p>
            <p class="project-part-price">¥3,980</p></a>
        </div>
      </div> -->

      <div class="">
        <a class="link-buy" href="https://dotstudio.thebase.in/items/2979880" target="_blank">購入する</a>
      </div>

    </article>
  </main>

  <footer>
    <img id="foot-mark" src="<%= assets_url %>/img/foot-mark.png" alt="" />
    <img id="foot-type" src="<%= assets_url %>/img/foot-type.png" alt="" />
    <p id="foot-pp"><a href="http://liginc.co.jp/privacy" target="_blank">プライバシーポリシー</a></p>
    <!-- <p id="foot-power">Powered by <img id="foot-power-lig" src="<%= assets_url %>/img/foot-liglogo.png" alt="" /></p> -->
    <p id="foot-copy">© 2016 Team DevRel, <a href="http://liginc.co.jp/" target="_blank">LIG Inc.</a></p>
  </footer>

  </body>
</html>
