<% var assets_url = '//dotstud.io/assets' %>
<%= data %>

<link rel="stylesheet" href="<%= assets_url %>/css/content.css">
<main class=".clearfix">
  <article>
    <div class="thumb-big">
      <p class="thumb-big-text"><%= pages[0].title%></p>
      <img src="<%= assets_url %><%= pages[0].image%>" alt="" />
      <div class="author"><a href="<%= pages[0].author.link%>" target="_blank">
        <img class="author-prof" src="<%= assets_url %><%= pages[0].author.image%>" alt="" />
        <p class="author-name"><%= pages[0].author.name%></p></a>
      </div></a>
      <div>
        <a class="tag-white" href="#">自作</a>
        <a class="tag-white" href="#">Nefry</a>
      </div>
    </div>

    <div class="info">
      <img class="lig-article" src="<%= assets_url %><%= pages[0].sub_image%>" alt="" />
      <p class="lig-article-text"><%= pages[0].author.abstract%></p>
    </div>
    <a class="link-lig" target="_blank" href="<%= pages[0].blog_link%>">作り方を読む</a>

    <!-- <div class="project-parts-wrap">
      <p id="project-parts-list">
        このプロジェクトに必要な部品
      </p>
      <div class="project-part">
        <a href="#"><img class="project-part-img" src="<%= assets_url %>/img/nefry/thumb-part.png" alt="" />
          <p class="project-part-txt">Nefry</p>
          <p class="project-part-price">¥3,980</p></a>
      </div>
      <div class="project-part">
        <a href="#"><img class="project-part-img" src="<%= assets_url %>/img/nefry/thumb-part.png" alt="" />
          <p class="project-part-txt">Nefry</p>
          <p class="project-part-price">¥3,980</p></a>
      </div>
      <div class="project-part">
        <a href="#"><img class="project-part-img" src="<%= assets_url %>/img/nefry/thumb-part.png" alt="" />
          <p class="project-part-txt">Nefry</p>
          <p class="project-part-price">¥3,980</p></a>
      </div>
      <div class="project-part">
        <a href="#"><img class="project-part-img" src="<%= assets_url %>/img/nefry/thumb-part.png" alt="" />
          <p class="project-part-txt">Nefry</p>
          <p class="project-part-price">¥3,980</p></a>
      </div>
    </div> -->

    <div class="">
      <a class="link-buy" href="<%= pages[0].buy_link%>" target="_blank">購入する</a>
    </div>

  </article>
</main>
