<% if (typeof pageid === 'undefined') {var pageid = 1;} %>
<% if (typeof assets_url === 'undefined') {var assets_url = 'assets';} %>

<link rel="stylesheet" href="<%= assets_url %>/css/content.css">
<main class=".clearfix">
  <article>
    <div class="thumb-big">
      <p class="thumb-big-text"><%= pages[pageid].title%></p>
      <img src="<%= assets_url %><%= pages[pageid].image%>" alt="" />
      <div class="author"><a href="<%= pages[pageid].author.link%>" target="_blank">
        <img class="author-prof" src="<%= assets_url %><%= pages[pageid].author.image%>" alt="" />
        <p class="author-name"><%= pages[pageid].author.name%></p></a>
      </div></a>
      <div>
        <% pages[pageid].tags.forEach(function (value, key) { %>
          <a class="tag-white" href="#"><%= value %></a>
        <% }); %>
      </div>
    </div>

    <div class="info">
      <img class="lig-article" src="<%= assets_url %><%= pages[pageid].sub_image%>" alt="" />
      <p class="lig-article-text"><%= pages[pageid].abstract %></p>
    </div>
    <a class="link-lig" target="_blank" href="<%= pages[pageid].blog_link%>">作り方を読む</a>

    <!-- <div class="project-parts-wrap">
      <p id="project-parts-list">
        このプロジェクトに必要な部品
      </p>
      <div class="project-part">
        <a href="#"><img class="project-part-img" src="<%= assets_url %>/img/nefry/thumb-part.png" alt="" />
          <p class="project-part-txt">Nefry</p>
          <p class="project-part-price">¥3,980</p></a>
      </div>
      <div class="project-part">
        <a href="#"><img class="project-part-img" src="<%= assets_url %>/img/nefry/thumb-part.png" alt="" />
          <p class="project-part-txt">Nefry</p>
          <p class="project-part-price">¥3,980</p></a>
      </div>
      <div class="project-part">
        <a href="#"><img class="project-part-img" src="<%= assets_url %>/img/nefry/thumb-part.png" alt="" />
          <p class="project-part-txt">Nefry</p>
          <p class="project-part-price">¥3,980</p></a>
      </div>
      <div class="project-part">
        <a href="#"><img class="project-part-img" src="<%= assets_url %>/img/nefry/thumb-part.png" alt="" />
          <p class="project-part-txt">Nefry</p>
          <p class="project-part-price">¥3,980</p></a>
      </div>
    </div> -->

    <div>
      <% if (pages[pageid].buy_status === 'open') { %>
        <div style="width: 220px; margin: 0 auto;" class="paypal-buy">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="AAXKBKZ26MBV2">
          <input type="image" src="https://raw.githubusercontent.com/dotstudio/dotstudio.github.io/master/assets/img/paypal-buy.png" border="0" name="submit" alt="PayPal - オンラインでより安全・簡単にお支払い">
          <img alt="" border="0" src="https://www.paypalobjects.com/ja_JP/i/scr/pixel.gif" width="1" height="1">
          </form>
        </div>


      <% } else { %>
          <a class="link-buy unclickable" href="#" target="_blank">準備中</a>
      <% } %>
    </div>

  </article>
</main>
