<% var assets_url = '//dotstud.io/assets' %>

<% if (typeof pageid === 'undefined') {var pageid = 1;} %>
<% pageid = pageid - 1 %>

<link rel="stylesheet" href="<%= assets_url %>/css/content.css">
<main class=".clearfix">
  <article>
    <div class="thumb-big">
      <p class="thumb-big-text"><%= pages[pageid].title%></p>
      <img src="<%= assets_url %><%= pages[pageid].image%>" alt="" />
      <div class="author"><a href="<%= pages[pageid].author.link%>" target="_blank">
        <img class="author-prof" src="<%= assets_url %><%= pages[pageid].author.image%>" alt="" />
        <p class="author-name"><%= pages[pageid].author.name%></p></a>
      </div></a>
      <div>
        <a class="tag-white" href="#">自作</a>
        <a class="tag-white" href="#">Nefry</a>
      </div>
    </div>

    <div class="info">
      <img class="lig-article" src="<%= assets_url %><%= pages[pageid].sub_image%>" alt="" />
      <p class="lig-article-text"><%= pages[pageid].abstract%></p>
    </div>
    <a class="link-lig" target="_blank" href="<%= pages[pageid].blog_link%>">作り方を読む</a>

    <!-- <div class="project-parts-wrap">
      <p id="project-parts-list">
        このプロジェクトに必要な部品
      </p>
      <div class="project-part">
        <a href="#"><img class="project-part-img" src="<%= assets_url %>/img/nefry/thumb-part.png" alt="" />
          <p class="project-part-txt">Nefry</p>
          <p class="project-part-price">¥3,980</p></a>
      </div>
      <div class="project-part">
        <a href="#"><img class="project-part-img" src="<%= assets_url %>/img/nefry/thumb-part.png" alt="" />
          <p class="project-part-txt">Nefry</p>
          <p class="project-part-price">¥3,980</p></a>
      </div>
      <div class="project-part">
        <a href="#"><img class="project-part-img" src="<%= assets_url %>/img/nefry/thumb-part.png" alt="" />
          <p class="project-part-txt">Nefry</p>
          <p class="project-part-price">¥3,980</p></a>
      </div>
      <div class="project-part">
        <a href="#"><img class="project-part-img" src="<%= assets_url %>/img/nefry/thumb-part.png" alt="" />
          <p class="project-part-txt">Nefry</p>
          <p class="project-part-price">¥3,980</p></a>
      </div>
    </div> -->

    <div class="">
      <a class="link-buy" href="<%= pages[pageid].buy_link%>" target="_blank">購入する</a>
    </div>

  </article>
</main>
